@import "../../../assets/styles/config/index.scss"; //estilo Input formularios
  //ejemplo
  /** <div className='FormContainer'>
      <small className='FormLabel'>Contraseña</small>
      <input className='FormInput' type='password' />
    </div>*/
  .sombra {
  -webkit-box-shadow: 1px 5px 5px 0px fade-out($gunmetal-color, $amount: 0.8);
  -moz-box-shadow: 1px 5px 5px 0px fade-out($gunmetal-color, $amount: 0.8);
  box-shadow: 1px 5px 5px 0px fade-out($gunmetal-color, $amount: 0.8);
}

.Form {
  &Container {
    position: relative;
  }
  &Input {
    height: 35px;
    border: 1px solid fade-out($gunmetal-color, $amount: 0.8);
    border-radius: 5px;
    width: 90%;
    margin: 2%;
    padding-left: 2%;
    &:focus {
      border: 1px solid fade-out($gunmetal-color, $amount: 0.2);
    }
  }
  &Label {
    background-color: $primary;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  &Selector {
    margin: 1%;
    width: 90%;
    background: transparent;
    text-align: center;
    border: none;
    @extend .styleScroll;
    & option {
      margin: 0.5%;
      text-align: center;
      border-bottom: 1px solid fade-out($gunmetal-color, $amount: 0.2);

      &:hover {
        background-color: fade-out($red-color, $amount: 0.8);
      }
    }
  }
}

.styleScroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    width: 2px;
    height: 2px;
    background: fade-out($red-color, 0.8);
  }
  &::-webkit-scrollbar-thumb:hover {
    display: block;
    box-shadow: 0 0 2px 1px fade-out($red-color, 0.5);
    background: $red-color;
  }
}

.imgSmall {
  height: 40px;
  width: 40px;
}
.boton {
  width: 74px;
  height: 10px;
  font-size: 17px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid $primary;
  border-radius: 10px;
  @extend .sombra;
  &-primary {
    background-color: $red-color;
    color: $primary;
  }
  &-primary:hover {
    background-color: $red-color;
    color: $primary;
  }
}
