@import '../../../../assets/styles/variables.scss';

.PosLaoyout{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 10% 90% ;
  min-height: 100vh;
  max-height: 100vh;
  &__header{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__products{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &__order{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: $flash-white-color;
  }
}
