@import '../../assets/styles/config/index.scss';
@import "../../assets/styles/app/_remove-later";

$border-radious: 30px;

.Register {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  min-width: 100vw;
	background-image: url('../../assets/images/point-of-sale.jpg');
  background-size: cover;
  &__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    height: 34rem;
    width: 70%;
    border: 1px solid fade-out($gunmetal-color, $amount: 0.5);
    border-radius: $border-radious;
    @extend .sombra;
    &__Info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8%;
      border-radius: $border-radious 0 0 $border-radious;
      background-color: fade-out($gunmetal-color, $amount: 0.5);
      color: $primary;
      & h2{
        font-size: 28px !important;
      }
    }
    &__form{
      border-radius: 0 $border-radious $border-radious 0;
      background-color: $primary;
      &__title{
        margin: 2%;
      }
      &__logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5%;
        img{
          height: 60px;
          width: 220px;
        }
      }
      &__accion{
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-left: 2%;
        margin-top: 2%;
        width: 90%;
        &__acepto{
          display: flex;
          align-items: baseline;
          & input{
            margin-top: 5px;
            margin-right: 4px;
          }
          & small{
            margin-right: 4px;
          }
        }
      }
      & form{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
