$color-primario: #d90429;
$color-segundario: #ef233c;
$color-contraste: #8d99ae;
$color-claro: #edf2f4;
$color-oscuro: #2b2d42;
$font-family: 'simple-line-icons';

* {
	margin: 0;
}

h2 {
	font-size: 17px !important;
}

//estilo Input formularios
//ejemplo
/** <div className='FormContainer'>
      <small className='FormLabel'>Contraseña</small>
      <input className='FormInput' type='password' />
    </div>*/

.sombra {
	-webkit-box-shadow: 1px 5px 5px 0px  fade-out($color-oscuro, $amount: 0.8);
	-moz-box-shadow: 1px 5px 5px 0px  fade-out($color-oscuro, $amount: 0.8);
	box-shadow: 1px 5px 5px 0px  fade-out($color-oscuro, $amount: 0.8);
}

.Form {
	&Container {
		position: relative;
	}
	&Input {
		height: 35px;
		border: 1px solid fade-out($color-oscuro, $amount: 0.8);
		border-radius: 5px;
		width: 90%;
		margin: 2%;
		padding-left: 2%;
		&:focus {
			border: 1px solid fade-out($color-oscuro, $amount: 0.2);
		}
	}
	&Label {
		background-color: $color-claro;
		position: absolute;
		top: 0;
		left: 5%;
	}
}

.boton {
	width: 74px;
	height: 10px;
	font-size: 17px;
	width: 100px;
	height: 30px;
	font-size: 14px;
	border: 1px solid $color-claro;
  border-radius: 10px;
  @extend .sombra;
	&-primario {
		background-color: $color-primario;
		color: $color-claro;
	}
	&-primario:hover {
		background-color: $color-segundario;
		color: $color-claro;
	}
}

a {
	font-size: 14px;
	text-decoration: none !important;
	color: $color-oscuro !important;
	&:hover {
		color: $color-primario !important;
	}
}
