@import '../../../../assets/styles/variables.scss';

.PosOrderLayOut{
  display: grid;
  grid-template-rows: 5% 70% 25%;
  grid-template-columns: 1% auto 1%;
  min-height: 90vh;
  &__icons{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid $gunmetal-color;
  }
  &__content{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 2% 0;
  }
  &__accion{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}