<<<<<<< HEAD:src/modules/pos/pages/select-cash-register/SelectCashRegister.scss
@import '../../../../assets/styles/config/index.scss';
@import '../../../../assets/styles/app/_remove-later';

=======
@import '../global.scss';
>>>>>>> feature/pos:src/modules/pos/components/select-cash-register/SelectCashRegister-layout.scss
$border-radious: 30px;

.SelectCashRegister {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  min-width: 100vw;
<<<<<<< HEAD:src/modules/pos/pages/select-cash-register/SelectCashRegister.scss
	background-image: url('../../../../assets/images/pizza.jpg');
=======
	background-image: url('../../../../assets/images/pizza.jpg');
>>>>>>> feature/pos:src/modules/pos/components/select-cash-register/SelectCashRegister-layout.scss
  background-size: cover;
  &__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    height: 22rem;
    width: 70%;
    border: 1px solid fade-out($gunmetal-color, $amount: 0.5);
    border-radius: $border-radious;
    text-align: center;
    @extend .sombra;
    &__logoCliente{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radious 0 0 $border-radious;
      background-color: fade-out($gunmetal-color, $amount: 0.5);
      & img{
        max-width: 160px;
        max-height: 160px;
      }
    }
    &__form{
      border-radius: 0 $border-radious $border-radious 0;
      background-color: $separator-color;
      &__title{
        margin: 2%;
      }
      &__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
        img{
          height: 60px;
          width: 220px;
        }
      }
      &__btn{
        width: 90%;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      & form{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
