@import '../variables.scss';
$border-radious: 30px;

.Register {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  min-width: 100vw;
	background-image: url('../../static/point-of-sale.jpg');
  background-size: cover;
  &__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    height: 34rem;
    width: 70%;
    border: 1px solid fade-out($color-oscuro, $amount: 0.5);
    border-radius: $border-radious;
    @extend .sombra;
    &__Info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8%;
      border-radius: $border-radious 0 0 $border-radious;
      background-color: fade-out($color-oscuro, $amount: 0.5);
      color: $color-claro;
      & h2{
        font-size: 28px !important;
      }
    }
    &__form{
      border-radius: 0 $border-radious $border-radious 0;
      background-color: $color-claro;
      &__title{
        margin: 2%;
      }
      &__logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5%;
        img{
          height: 60px;
          width: 220px;
        }
      }
      &__accion{
        width: 90%;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__acepto{
          display: flex;
          align-content: center;
        }
      }
      & form{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
