@import '../global.scss';
$border-radious: 30px;

.lockScreenLayout{
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-image: url('../../../../assets/images/pizza.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  & .containing{
    max-height: 60vh;
    border: 1px solid fade-out($gunmetal-color, $amount: 0.3);
    background: fade-out($gunmetal-color, $amount: 0.3);
    border-radius: $border-radious;
    text-align: center;
    @extend .sombra;
    & .row{
      justify-content: space-between;
    }

  }
}