@import "../global.scss";

@media (min-width: 576px) and (max-width: 766px) {
  .PosLaoyout {
    grid-template-columns: 60% 40% !important;
    & .FormContainer button {
      padding: 0% !important;
    }
  }
}

.PosLaoyout {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 13% 87%;
  min-height: 100vh;
  max-height: 100vh;
  @extend .styleScroll;
  &__header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &__products {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &__order {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: $flash-white-color;
  }
}
