@import '../global.scss';
.PosProducts{
  max-height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  &__items{
    padding: 0% 5%;
    margin: 0% !important;
    @extend .styleScroll
  }
  &__group{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $flash-white-color;
    background-color: $gunmetal-color;
  }
}
