.card {
  border: initial;
  background: white;
  border-radius: 0.75rem;

  .card-header .card-icon {
    right: 5px;
    top: 5px;

    i {
      font-size: 12px;
      color: $separator-color;
    }
  }

  .card-subtitle {
    margin: 0;
    margin-bottom: 1rem;
  }

  .card-header .handle {
    cursor: default;
  }

  @include depth(1);

  .card-body {
    padding: 1.25rem;

    @include media-breakpoint-up(sm) {
      padding: 1.75rem;
    }

    &.sm {
      padding: 1.25rem 1.75rem;
    }
  }

  .card-title {
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 2rem;
    }
  }
}

.card-title {
  font-size: 0.9rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.1rem;
  }
}

.card-img {
  border-radius: calc(0.25rem - 1px);
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  width: unset;
}

.card-img-fluid {
  border-radius: calc(0.25rem - 1px);
  object-fit: cover;
}

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-top-right-radius: calc(0.15rem - 1px);
}

.card-img-left {
  width: 100%;
  border-top-left-radius: calc(0.15rem - 1px);
  border-bottom-left-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover;
}

.card-img-right {
  width: 100%;
  border-top-right-radius: calc(0.15rem - 1px);
  border-bottom-right-radius: calc(0.15rem - 1px);
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background: rgba(#000000, 0.5);
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    padding: 1.75rem;
  }
}

.card-top-buttons {
  padding: 0.35rem;
  right: 0;
  top: 0;

  @include media-breakpoint-up(sm) {
    padding: 1.3rem;
  }
}

.card-header {
  border: initial;
  background: initial;
  padding-top: 0;
}
.item-check {
  pointer-events: none;
}

.list-thumbnail {
  border-radius: $border-radius;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 70px;
  object-fit: cover;
  width: unset !important;

  @include media-breakpoint-up(sm) {
    height: 80px;
  }

  @include media-breakpoint-up(md) {
    height: 85px;
  }

  &.responsive {
    width: 90px !important;
    height: 100%;

    @include media-breakpoint-up(sm) {
      width: 110px !important;
    }

    @include media-breakpoint-up(md) {
      width: unset;
      height: 136px;
    }
  }

  &.small {
    height: 50px;

    @include media-breakpoint-up(md) {
      height: 55px;
    }

    @include media-breakpoint-up(lg) {
      height: 60px;
      font-size: 1rem;
    }
  }

  &.xsmall {
    height: 40px;

    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }
}

.list-thumbnail-letters {
  width: 70px;
  height: 70px;
  background: $theme-color-1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: $button-text-color;

  @include media-breakpoint-up(md) {
    width: 80px;
    height: 80px;
  }

  @include media-breakpoint-up(lg) {
    width: 85px;
    height: 85px;
  }

  &.small {
    width: 50px;
    height: 50px;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      width: 55px;
      height: 55px;
    }

    @include media-breakpoint-up(lg) {
      width: 60px;
      height: 60px;
    }
  }
}
